{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>{{ activity.name }}</h1>

        <table class="table legend-one-third">
            <tbody>
                <tr>
                    <th>Geplanter Start</th>
                    <td>{% if activity.startdate %}{{ activity.startdate|date }}{% endif %}</td>
                </tr>
                <tr>
                    <th>Geplanter Abschluss</th>
                    <td>{% if activity.enddate %}{{ activity.enddate|date }}{% endif %}</td>
                </tr>
                <tr>
                    <th>Effektiver Start</th>
                    <td>{% if activity.actualstartdate %}{{ activity.actualstartdate|date }}{% endif %}</td>
                </tr>
                <tr>
                    <th>Effektiver Abschluss</th>
                    <td>{% if activity.actualenddate %}{{ activity.actualenddate|date }}{% endif %}</td>
                </tr>
            </tbody>
        </table>

        <ul class="list-inline">
            <li>
                <a class="btn btn-default" href="{{ path('project_show', { 'id': project_id }) }}">Zurück zum Projekt</a>
            </li>
            <li>
                <a class="btn btn-default" href="{{ path('activity_edit', { 'id': activity.id, 'project_id': project_id }) }}">
                    Bearbeiten
                </a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                    <input class="btn btn-danger" type="submit" value="Löschen">
                {{ form_end(delete_form) }}
            </li>
        </ul>

        <div class="row">
            <div class="col-md-6">
                {% include 'humanresource/show.html.twig' %}
            </div>

            <div class="col-md-6">

                {% include 'financialresource/show.html.twig' %}

            </div>
        </div>
        
    </div>
{% endblock %}
