{% extends 'base.html.twig' %}

{% block body %}
    <h1>Activity</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ activity.id }}</td>
            </tr>
            <tr>
                <th>Ismilestone</th>
                <td>{% if activity.ismilestone %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ activity.name }}</td>
            </tr>
            <tr>
                <th>Startdate</th>
                <td>{% if activity.startdate %}{{ activity.startdate|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Enddate</th>
                <td>{% if activity.enddate %}{{ activity.enddate|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{% if activity.created %}{{ activity.created|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Modified</th>
                <td>{% if activity.modified %}{{ activity.modified|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Deleted</th>
                <td>{% if activity.deleted %}{{ activity.deleted|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Actualstartdate</th>
                <td>{% if activity.actualstartdate %}{{ activity.actualstartdate|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Actualenddate</th>
                <td>{% if activity.actualenddate %}{{ activity.actualenddate|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('activity_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('activity_edit', { 'id': activity.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
