{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>{{ activity.name }}</h1>

        <table class="table legend-one-third">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ activity.id }}</td>
                </tr>
                <tr>
                    <th>Ismilestone</th>
                    <td>{% if activity.ismilestone %}Yes{% else %}No{% endif %}</td>
                </tr>
                <tr>
                    <th>Startdate</th>
                    <td>{% if activity.startdate %}{{ activity.startdate|date('Y-m-d') }}{% endif %}</td>
                </tr>
                <tr>
                    <th>Enddate</th>
                    <td>{% if activity.enddate %}{{ activity.enddate|date('Y-m-d') }}{% endif %}</td>
                </tr>
                <tr>
                    <th>Actualstartdate</th>
                    <td>{% if activity.actualstartdate %}{{ activity.actualstartdate|date('Y-m-d') }}{% endif %}</td>
                </tr>
                <tr>
                    <th>Actualenddate</th>
                    <td>{% if activity.actualenddate %}{{ activity.actualenddate|date('Y-m-d') }}{% endif %}</td>
                </tr>
            </tbody>
        </table>

        <ul class="list-inline">
            <li>
                <a class="btn btn-default" href="{{ path('project_show', { 'id': project_id }) }}">Zurück zum Projekt</a>
            </li>
            <li>
                <a class="btn btn-default" href="{{ path('activity_edit', { 'id': activity.id, 'project_id': project_id }) }}">Bearbeiten</a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                    <input class="btn btn-danger" type="submit" value="Löschen">
                {{ form_end(delete_form) }}
            </li>
        </ul>
    </div>
{% endblock %}
